colorama==0.4.6
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.2
Pillow==10.4.0
PyQt5==5.15.11
PyQt5-sip==12.15.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyzbar==0.1.9
qrcode==7.4.2
six==1.16.0
XlsxWriter==3.2.0